# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*
.cache/
docs/.vitepress/cache/
.vitepress/dist/
docs/.vitepress/dist/
.DS_Store

# VS Code
.vscode/
.history/

# Others
*.local
*.sublime-workspace
*.sublime-project